#include "Base.xcconfig"

ARCHS = $(ARCHS_$(MAC_OS_X_VERSION_MAJOR));
ARCHS_ = $(ARCHS_1050);
ARCHS_1050 = $(NATIVE_ARCH);
//ARCHS_1060 = $(ARCHS_STANDARD_32_64_BIT);

ONLY_ACTIVE_ARCH = YES;

STRIP_STYLE = DEBUGGING_SYMBOLS;

GCC_OPTIMIZATION_LEVEL = 3;

DEAD_CODE_STRIPPING = YES;

STRIP_INSTALLED_PRODUCT = YES;

GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS;